*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*--Preloader--*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disappear {
  animation: vanish 2s forwards;

}
@keyframes vanish {
  100%{
      opacity: 0;
      visibility: hidden;
  }
}
header img{
  width: 80px;
  height: 60px;
  border-radius: 65%;
  position: fixed;
  top: 10px;
  left: 2%;
  z-index: 2;
}


/*--nav--*/
.nav-menu li {
  list-style: none;
}
.nav-menu a{
  font-size: 40px;
  text-decoration: none;
  position: relative;
  color: #cbf3f0
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.navbar a{
 color: #818181;
 padding: 5px;
 text-decoration: none;
 display: block;
 transition: 0.3s;
}
.navbar a:hover, .navbar a:focus{
 color: #f1f1f1;
 cursor: pointer;
}

.nav-item{
 position: relative;
 text-align: center;
 justify-content: center;
 top: 25%;
 margin: 132px 0;
}


.hamburger {
 display: none;
 cursor: pointer;
 position: fixed;
 right: 20px;
}

.bar:nth-child(1) {
 display: block;
 width: 25px;
 height: 3px;
 margin: 5px 0;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out; 
 background-color: black;
}
.bar:nth-child(2) {
 display: block;
 width: 20px;
 height: 3px;
 margin: 5px 0;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out; 
 background-color: black
}
.bar:nth-child(3) {
 display: block;
 width: 15px;
 height: 3px;
 margin: 5px 0;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out; 
 background-color: black;
}
.bar:active{
 background-color: white;
}

.hamburger{
  display: block;
  z-index: 1;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  background-color: white;
  transform: translateY(8px) rotate(45deg); 
}
.hamburger.active .bar:nth-child(3){
  background-color: white;
  width: 25px;
  transform: translateY(-8px) rotate(-45deg); 
}
.nav-menu{
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.nav-item{
  margin: 8px 0;

}
.nav-menu.active{
  top: 0;
  font-size: 20px;
  right: 0; 
  overflow-x: hidden;
  height: 100%;
}

/*--Gallery--*/
.gallery{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.gallery h1{
  font-size: 30px;
  font-weight: 400;
}
.gallery h1::after{
  content: '';
  position: sticky;
  left: 0;
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.gallery h1:hover::after{
  width: 50%;
}




.img-gallery{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img{
  border-radius: 25px;
  width: 100%;
  cursor: pointer; 
}

.img-gallery img:hover{
  transform: scale(0.8) rotate(15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
  transition: 1s ease-in-out;
}

/*----- footer ------*/
.footer {
  width: 100%;
  position: sticky;
  height: 50vh;
  background-color: rgb(114, 110, 117);
  padding: 40px;
  margin-top: 2.5em;
  

}
.footer-txt h5{
 color: #f1f1f1;
 justify-content: left;
 align-items: center; 
 text-align: left;
 font-size: 15px;
 margin-bottom: 10px;
}
.footer ul {
  color: #f1f1f1;
  margin-top: 15px ;
  margin-bottom: 25px;
  margin-left: 3rem;
  font-size: 15px;
}
.footer ul li {
  color: #f1f1f1;
}
.footer ul  a{
  text-decoration: none;
}
.footer .copy-txt{
  color: #f1f1f1;
  font-size: 14px;
  justify-content: left;
  align-items: center;
  text-align: left;
}
.footer .author{
  color: #f1f1f1;
  font-size: 15px;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  text-align: center;
}
.footer .author a{
  color: skyblue;
  text-decoration: underline;
}
.footer .author .fa-solid{
  color: blue;
}
.footer .icons {
  text-align: right;
  margin-top: -120px;
}
.footer .icons .fa-brands{
  color: white;
  font-size: 30px;
  border-radius: 20%;
  padding: 10px;
}
@media(max-width: 850px){
  .footer {
      height: 55vh;
  }
  .footer-txt h5{
      text-align: center;
  }
  .footer .copy-txt{
      text-align: center;
  }
  .footer .author{
      margin-top: 19px;
  }

  .footer .icons{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  }   
  .footer .icons .fa-brands{
  padding: 10px;
  color: white;
  font-size: 20px;
  }

}

