@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*--preloader--*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disappear {
    animation: vanish 2s forwards;
}
@keyframes vanish{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

header img{
    width: 80px;
    height: 60px;
    border-radius: 65%;
    position: fixed;
    top: 10px;
    left: 2%;
    z-index: 2;
}


/*--nav--*/
.nav-menu li {
    list-style: none;
}
.nav-menu a{
    font-size: 40px;
    text-decoration: none;
    position: relative;
    color: #cbf3f0
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.navbar a{
   color: #818181;
   padding: 5px;
   text-decoration: none;
   display: block;
   transition: 0.3s;
}
.navbar a:hover, .navbar a:focus{
   color: #f1f1f1;
   cursor: pointer;
}
 
.nav-item{
   position: relative;
   text-align: center;
   justify-content: center;
   top: 25%;
   margin: 132px 0;
}
 
 
.hamburger {
   display: none;
   cursor: pointer;
   position: fixed;
   right: 20px;
}
 
.bar:nth-child(1) {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px 0;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out; 
   background-color: black;
}
.bar:nth-child(2) {
   display: block;
   width: 20px;
   height: 3px;
   margin: 5px 0;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out; 
   background-color: black
}
.bar:nth-child(3) {
   display: block;
   width: 15px;
   height: 3px;
   margin: 5px 0;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out; 
   background-color: black;
}
.bar:active{
   background-color: white;
}
 
.hamburger{
    display: block;
    z-index: 1;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    background-color: white;
    transform: translateY(8px) rotate(45deg); 
}
.hamburger.active .bar:nth-child(3){
    background-color: white;
    width: 25px;
    transform: translateY(-8px) rotate(-45deg); 
}
.nav-menu{
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    transition: 0.6s ease-in-out;
}
.nav-item{
    margin: 8px 0;
 
}
.nav-menu.active{
    top: 0;
    font-size: 20px;
    right: 0; 
    overflow-x: hidden;
    height: 100%;
}
/*--Font design--*/
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 3000ms ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



/*----- Mission -----*/

.Mission{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
}
#mission2::after{
    content:'';
    position: sticky;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(159, 91, 223);
    display: block;
    margin: auto;
    transition: 0.5s;
}
#mission2:hover::after{
    width: 50%;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: rgb(159, 91, 223);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
#dung{
    color: white;
    display: flex;
    align-items: center;
}
#poop{
    color: black;
    display: flex;
    align-items: center;
    text-align:center;
    font-size: medium;
}
h3{

    text-align: center;
    font-weight: 700;
    margin: 10px 0px;
}
.moon{
    color: white;
    text-align: center;
    font-weight: 800;
    margin: 10px 0px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px blue;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
        
    }
}

.Christmas-Party{
    width: 80%;
    margin: auto;
    text-align: right;
    padding-top: 50px;
}
.Christmas-Party1 h2{
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}
.Christmas-Party1 p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: right;
}
.Party-col{
    flex-basis: 32%;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Party-col img{
    width: 100%;
    display: block;
}


/*-------needs---------*/

.needs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.needs-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.needs-col img{
    width: 100%;
    border-radius: 10px;
}
.needs-col p{
    padding: 0%;

}
.needs-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/*--------Donation----------*/

.donation{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.donations-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    background: #fff3f3;
    cursor: pointer;
    display: flex;
}
.donations-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.donations-col p{
    padding: 0%;
    font-size: medium;
}
.donations-col h3{
    margin-top: 15px;
    text-align: left;
}
.donations-col .comment .fa-solid{
    color: gold;
}
@media(max-width: 700px){
    .donations-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

}


/*----Aim----*/
.aim{
    width: 90%;
    text-align: left;
    position: relative;
    left: 10px;
    margin: auto;
    padding: 20px ;

}
.aim h4{
    margin-top: 5px ;
    margin-bottom: 5px;
    font-weight: 800;
}
.aim h3{
    margin-top: 2px;
    font-weight: 300;
    text-align: left;
}
.aim p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
}
.aim li {

    margin: 0;
    font-size: 14px;
    padding: 0;
}
@media(max-width: 700px){
    .aim{
        width: 80%;
        justify-content: center;
        text-align: left;
        padding: 1px;
    }
}

/*----- footer ------*/
.footer {
    width: 100%;
    position: sticky;
    height: 50vh;
    background-color: rgb(114, 110, 117);
    padding: 40px;
    margin-top: 2.5em;
    

}
.footer-txt h5{
   color: #f1f1f1;
   justify-content: left;
   align-items: center; 
   text-align: left;
   font-size: 15px;
   margin-bottom: 10px;
}
.footer ul {
    color: #f1f1f1;
    margin-top: 15px ;
    margin-bottom: 25px;
    margin-left: 3rem;
    font-size: 15px;
}
.footer ul li {
    color: #f1f1f1;
}
.footer ul  a{
    text-decoration: none;
}
.footer .copy-txt{
    color: #f1f1f1;
    font-size: 14px;
    justify-content: left;
    align-items: center;
    text-align: left;
}
.footer .author{
    color: #f1f1f1;
    font-size: 15px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.footer .author a{
    color: skyblue;
    text-decoration: underline;
}
.footer .author .fa-solid{
    color: blue;
}
.footer .icons {
    text-align: right;
    margin-top: -120px;
}
.footer .icons .fa-brands{
    color: white;
    font-size: 30px;
    border-radius: 20%;
    padding: 10px;
}
@media(max-width: 850px){
    .footer {
        height: 55vh;
    }
    .footer-txt h5{
        text-align: center;
    }
    .footer .copy-txt{
        text-align: center;
    }
    .footer .author{
        margin-top: 19px;
    }

    .footer .icons{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    }   
    .footer .icons .fa-brands{
    padding: 10px;
    color: white;
    font-size: 20px;
    }

}
